<!DOCTYPE html>
<html lang="en">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>plantiSMASH: Plant Specialized Metabolite Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='css/style.less') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/less.js') }}"> </script>
    {% block extra_headers %}{% endblock %}
</head>
<style>
  /* Force a centered row with tight spacing */
  .org-logos{
    display:flex !important;
    justify-content:center;
    align-items:center;
    gap:12px;                 /* reduce spacing */
    flex-wrap:wrap;
    margin:14px 0 6px;
  }

  /* Remove any extra margins from frames */
  .org-logos .logo-frame{
    padding:0;
    margin:0;
    display:flex;
    align-items:center;
    justify-content:center;
    /* width optional – let images size themselves by height */
  }

  /* Make the logos BIG by explicit height. Block removes inline-gap. */
  .org-logos .logo-frame img{
    display:block;
    height:80px !important;  /* <- change 140→160 if you want larger */
    width:auto !important;
    max-height:none !important;
    max-width:none !important;
  }


  /* Slightly larger on desktop */
  @media (min-width:992px){
    .org-logos .logo-frame img{ height:60px !important; }
    .org-logos{ gap:16px; }
  }
</style>
<body>
    <div class="row header">
      <div class="col-md-1 col-md-offset-2">
        <a href="{{ url_for('new') }}"><img src="{{ url_for('static', filename='images/plantismash_logo.png') }}" alt="antiSMASH" class="as-logo"></a>
      </div>
      <div class="col-md-5 antismash-title">
        <a href="{{ url_for('new') }}">Plant Specialized Metabolite Analysis</a> 
        <span class="version" style="color: white;">{{ version }}</span>
      </div>
      <div class="col-md-4 icons">
        <a href="{{ url_for('new') }}"><img src="{{ url_for('static', filename='images/home.png') }}" alt="home" title="Go to start page"></a>
        <a href="https://plantismash.github.io/documentation/install/"><img src="{{ url_for('static', filename='images/download.png') }}" alt="download" title="Download antiSMASH"></a>
        <a href="https://plantismash.github.io/documentation/website_submission/"><img src="{{ url_for('static', filename='images/help.png') }}" alt="help" title="Get help using plantiSMASH"></a>
        <a href="https://plantismash.github.io/documentation/about/"><img src="{{ url_for('static', filename='images/about.png') }}" alt="about" title="About antiSMASH"></a>
        <a href="{{ url_for('contact') }}"><img src="{{ url_for('static', filename='images/mail.png') }}" alt="contact" title="Contact the antiSMASH team"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2" id="error-container">
        {% block error_notices %}{% endblock %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well well-small">
          Server status: <span id="server-status">unknown</span><br>
          Running jobs: <span id="running-jobs">unknown</span><br>
          Queue length: <span id="queue-length">unknown</span><br>
          <small id="queue-details">
            Oldest job in queue submitted <time id="queue-time" class="timeago" datetime=""></time><br>
          </small>
          Long runtime queue: <span id="long-runtime">unknown</span><i class="icon-road"></i><br>
          <small id="long-queue-details">
            Oldest job in queue submitted <time id="long-queue-time" class="timeago" datetime=""></time><br>
          </small>
          Jobs processed: <span id="total-jobs">unknown</span>
        </div>
      </div>
      <div class="col-md-8">
{% block body %}{% endblock %}
      </div>
      <div class="col-md-2" id="notice-container">
        {% block extra_notices %}{% endblock %}
      </div>
    </div>
<div class="footer container">



<!-- plantiSMASH License + Cite Box -->
<div class="alert alert-success text-center" style="margin-top: 2rem;">
  If you have found this software useful, please
  <a href="https://plantismash.github.io/documentation/about/#how-to-cite" target="_blank">cite us</a>.
  <br><br>
  <strong>plantiSMASH License:</strong>
  plantiSMASH is licensed under the
  <a href="https://www.gnu.org/licenses/agpl-3.0" target="_blank">
    GNU Affero General Public License v3.0
  </a>.
  <br><br>
  <a href="https://github.com/plantismash/plantismash" target="_blank" title="View on GitHub">
    <img src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/github.svg"
         alt="GitHub"
         style="height:1em;vertical-align:middle;margin-right:4px;">
    Visit the <strong>plantiSMASH GitHub Repository</strong>
  </a>
</div>

  <!-- Logos row -->
  <div class="row">
    <div class="col-xs-12">
      <div class="org-logos">
        <div class="logo-frame">
          <img src="{{ url_for('static', filename='images/wur-logo1.png') }}" alt="WUR logo">
        </div>
        <div class="logo-frame">
          <img src="{{ url_for('static', filename='images/jic_logo.png') }}" alt="JIC logo">
        </div>
        <div class="logo-frame">
          <img src="{{ url_for('static', filename='images/hu-logo.png') }}" alt="HU logo">
        </div>
        <div class="logo-frame">
          <img src="{{ url_for('static', filename='images/jgi-logo.png') }}" alt="JGI logo">
        </div>
      </div>
    </div>
  </div>


<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"> </script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.timer.js') }}"> </script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.timeago.js') }}"> </script>
<script type="text/javascript" src="{{ url_for('static', filename='js/antismash.js') }}"></script>



  <!-- The part for the job processing boxes -->
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", () => {
    repeatedly_update_status("{{ url_for('server_status') }}");
});
{% block ready_function %}{% endblock %}
</script>
  </body>
</html>